.list-container {
	
	.list-box {
		@extend .shadowed-box;

		.list-box-header {
			@extend .box-header;
		}

		.welcome {
			padding: 20px;
		}

		.lists {
			
			.lists-header {
				padding: 20px;
			}

			.item-widget {
				margin: 10px;
				padding: 10px;
				border: 1px solid #cdd3d7;
				border-radius: 4px;
				-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
				box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
				cursor: pointer;
				line-height: 24px;
				.title {
					font-weight: bolder;
					padding: 10px;
				}
				.status {
					float: right;
					font-size: 22px;
					font-weight: bolder;
					color: $active-item;
				}
			}

			.list-actions {
				.add-new-list {
					margin: 10px;
					
				}
				i {
					margin-right: 8px;
				}
			}
		}
	}
}