<div class="to-do-register">
	<h1 class="text-center">User Registration</h1>
	<div class="alert alert-danger" role="alert" ng-if="registercntrl.error_message">{{ registercntrl.error_message }}</div>
	<form name="toDoRegisterForm" class="to-do-register-form" ng-submit="registercntrl.register()">
		<div class="form-group">
			<label for="username">Username</label>
			<input type="text" name="username" class="form-control" id="username" placeholder="Username" ng-model="registercntrl.user.username" minlength="3" maxlength="20" required />
		</div>
		<div class="form-group">
			<label for="password">Password</label>
			<input type="password" name="password" placeholder="Password" class="form-control" ng-model="registercntrl.user.password" required />
		</div>
		<div class="form-group">
			<label for="confirm_password">Confirm Password</label>
			<input type="password" name="confirm_password" placeholder="Confirm password" class="form-control" ng-model="registercntrl.user.confirm_password" required />
		</div>
		<button class='btn btn-primary register'>Register</button>
		<button class="btn btn-danger cancel">Cancel</button>
	</form>
</div>