<div class="add-list-holder center-block text-center">
	<div class="add-list-form" ng-show="addlistcntrl.showform">
		<form name="addListForm" ng-submit="addlistcntrl.addList()" class="list-form">
			<div class="form-group">
				<label for="title">List Title</label>
				<input type="text" class="form-control" id="title" placeholder="List Title" ng-model="addlistcntrl.list.title">
				</div>
				<div class="form-group">
				<label for="description">List Description</label>
				<input type="text" class="form-control" id="description" placeholder="List Description" ng-model="addlistcntrl.list.description">
				</div>
			<div class="form-group">
				<input type="submit" class="btn btn-default add-list" value="Add List">
				<button class="btn btn-danger cancel" ng-click="addlistcntrl.cancelList()">Cancel</button>
			</div>
		</form>
	</div>
	<div class="add-list-actions text-center">
		<button class="btn btn-primary add-new-list" ng-click="addlistcntrl.toggleForm()"><i class="fa fa-plus icon"></i>Add a new List</button>
	</div>
</div>
