<div class="add-list-holder center-block text-center">
	<div class="add-list-form">
		<form name="add-list" class="list-form form-horizontal">
			<div class="form-group">
				<label for="title" class="col-sm-2 control-label">List Title</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="title" placeholder="List Title" ng-model="listcntrl.list.title">
				</div>
			</div>
			<div class="form-group">
				<label for="description" class="col-sm-2 control-label">List Description</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="description" placeholder="List Description" ng-model="listcntrl.list.description">
				</div>
			</div>
			<div class="form-group">
				<input type="submit" class="btn btn-primary add-list" value="Add List" ng-click="listcntrl.add()">
				<button class="btn btn-danger cancel" ng-click="listcntrl.cancel()">Cancel</button>
			</div>
		</form>
	</div>
</div>
